In [1]:
import pandas as pd
from data_capture import FromYF
import inputs
from pypfopt.expected_returns import returns_from_prices
from core.performance import cumulative_returns, hypothesis_test
from core.statistics import population_stats, sample_stats

In [2]:
watchlist_df = pd.read_excel(inputs.WATCHLIST_PATH,index_col=0)
watchlist = watchlist_df.index.tolist()
watchlist.append(inputs.MARKET)

price_df = FromYF.get_prices(watchlist,period=inputs.PERIOD,interval=inputs.INTERVAL)

returns_df = returns_from_prices(price_df,log_returns=inputs.IS_CONTINOUSLY_COMPOUNDED)

returns_df

[*********************100%***********************]  5 of 5 completed

                AAPL      AMZN     GOOGL      TSLA      ^RUA
Date
2020-07-28 -0.016427 -0.017963 -0.016856 -0.040991 -0.007094
2020-07-29  0.019168  0.011065  0.013208  0.015320  0.013811
2020-07-30  0.012100  0.006049  0.009754 -0.007751 -0.003390
2020-07-31  0.104689  0.036961 -0.032775 -0.038138  0.005645
2020-08-03  0.025198 -0.016681 -0.003488  0.037910  0.008723
...              ...       ...       ...       ...       ...
2022-07-20  0.013510  0.038575  0.000791  0.008023  0.007983
2022-07-21  0.015094  0.015150  0.003863  0.097805  0.009424
2022-07-22 -0.008111 -0.017732 -0.056323  0.001975 -0.010572
2022-07-25 -0.007398 -0.010456 -0.003614 -0.013995  0.001458
2022-07-26 -0.008826 -0.052254 -0.023161 -0.035664 -0.012013

[501 rows x 5 columns]

In [3]:
cum_returns_df = cumulative_returns(returns_df)

cum_returns_df

                AAPL      AMZN     GOOGL      TSLA      ^RUA
Date
2020-07-28  0.983573  0.982037  0.983144  0.959009  0.992906
2020-07-29  1.002426  0.992904  0.996129  0.973701  1.006619
2020-07-30  1.014555  0.998910  1.005845  0.966153  1.003206
2020-07-31  1.120768  1.035831  0.972879  0.929306  1.008869
2020-08-03  1.149009  1.018552  0.969485  0.964536  1.017669
...              ...       ...       ...       ...       ...
2022-07-20  1.634336  0.803676  1.489444  2.411341  1.211257
2022-07-21  1.659005  0.815852  1.495198  2.647181  1.222672
2022-07-22  1.645550  0.801385  1.410983  2.652410  1.209746
2022-07-25  1.633375  0.793006  1.405883  2.615290  1.211510
2022-07-26  1.618959  0.751569  1.373322  2.522019  1.196956

[501 rows x 5 columns]

In [4]:

population_stats_df = population_stats(returns_df)
sample_stats_df = sample_stats(returns_df,inputs.SAMPLE_START)

hypothesis_df = hypothesis_test(sample_stats_df,population_stats_df)

hypothesis_df

       samplereject
AAPL          False
AMZN          False
GOOGL         False
TSLA          False
^RUA          False